version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-proyecto
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Sopa123Do234Macaco345
      MYSQL_DATABASE: proyecto_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
